<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><!chitala3lek el menu >
        <ion-icon name="menu-outline" ></ion-icon>
      </ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification"routerLink="" size="large">
        
        
      
        
      </ion-button>
      <ion-icon name="arrow-undo-outline" routerLink="/admin" color="dark"  size="large"></ion-icon>
      
   
 
      <ion-button class="login"routerLink="/login">
        <ion-icon name="log-in-outline" color="dark" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Member List</h1>
  
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search member"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
  
    
  
    <ion-card mode="ios"  *ngFor="let membre of neufs">
      <ion-card-content>
        
        <div class="item-info">
          <p> {{membre.firstNameUser}}</p>
          <p>{{membre.lastNameUser}}</p>
          <p>{{membre.dateOfBirth}}</p>
          <p>{{membre.addressUser}}DT</p>
         
          <p>{{membre.telUser}}</p>
          <p>{{membre.emailUser}}</p>
         
  
          
  
          <div class="qty-selector">
            <ion-button fill="clear">   Delete membre  </ion-button>
            <ion-button fill="clear">   Edit membre  </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  <ion-list>




  </ion-list>

  
  


  



</ion-content>
