.ion-button{
    background-color: #e0e5e7; 
    border: none;
    color: rgb(133, 37, 37);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .qty-selector{
    margin-left: 10% ;
    margin-right: 5% ;
    width: 4em

  }


 
  ion-menu-button{
    --color:rgb(7, 7, 7) ;
     color:rgb(8, 7, 7) ;
  }
  
  .title{
    
        text-shadow: 3px 2px #000;
    
  }
  .ion-searchbar{
    margin-top: 0em;

  }