<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline" ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>

  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search member"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>
  




<!-- !PAGE CONTENT! -->


  <!-- First Photo Grid-->
  
    <div class="content">
      <img src="\assets\info8.png" alt="Sandwich" style="width:100%"  routerLink="/info">
      <h3>COMPUTER  EQUIPMENT </h3>
      <p> OUR APPLICATION  OFFRES ITS CUSTOMERS ALL KINDS OF ITEMS
          FOR  COMPUTERS  USE:
           LAPTOPS, DESKTOP, TABLETS, SMARTPHONS
            AS WELL AS ALL KINDS  OF  ACCECORIES SUCH AS KEYBORDS , MICE , HEADEST , CABLES </p>
    </div>
    <div class="content" >
      <img src="\assets\job.png" alt="Steak" style="width:100%" routerLink="/jobs">
      <h3>Find a job </h3>
      <p>SHOWING RESULTS FOR THE JOBS OPPORTUNITIES   IN TUNISIA</p>
    </div>
    <div class="content">
      <img src="\assets\immo1.webp" alt="Cherries" style="width:100%">
      
      <h3> IMMOBILIÈRE :HOME IN TUNISIA</h3>
      <p>44,948 PROPERTIES IN TUNISIA : FIND AN APARTMENT TO RENT OR A HOUSE FOR SALE</p>
    </div>
    <div class="content" >
      <img src="\assets\auto4.png" alt="Pasta and Wine" style="width:100%" routerLink="/voiture">
      <h3>TOP CARS TUNISIE</h3>
      <p>SHOWING RESULTS FOR THE BEST CARS   IN TUNISIA</p>
    </div>
   

</ion-content>

