

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <div class="form-container">
      <img src="/assets/gereruser2.png">
      <h1>EDIT YOUR PROFILE </h1>
      <ion-item>
        <ion-label position="floating">UserName </ion-label>
        <ion-input type="text"   placeholder="champ obligatoir" 
         required="required" (ionChange)="getusername(username)" [(ngModel)]="username">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label> 
        <ion-input type="text"   placeholder="champ obligatoir"
          required="required"(ionChange)="getemail(email)" [(ngModel)]="email">
  
         

        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>

        <ion-input type="password"   placeholder="champ obligatoir" 
         required="required"(ionChange)="getPassword(password)" [(ngModel)]="password" >

        </ion-input>
   
      </ion-item>

    <ion-item>
        <ion-label position="floating">Confirm Password </ion-label>
        <ion-input type="password" placeholder="champ obligatoir"  
        required="required" (ionChange)="getConfPassword(confPassword)"[(ngModel)]="confPassword">
       </ion-input>
       
        
      </ion-item>
   
      <ion-button (click)="signup()" expand="block" class="main-button">SAVE</ion-button>

      
    </div>
  </div>
  <ion-icon name="caret-back-outline" size="large"  routerLink="/profile"></ion-icon>
</ion-content>


