<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-undo-outline" size="small" routerLink="/home"></ion-icon>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline" ></ion-icon>
      </ion-menu-button>
      </ion-buttons>
    <ion-title>COMPUTER EQUIPMENT </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <span>&nbsp;</span>
      <div class="search ion-padding">
        <ion-item lines="none">
          <ion-input placeholder="Search"(ionChange)="getnameMatrInformatique(nameMatrInformatique)" [(ngModel)]="nameMatrInformatique" ></ion-input>
          <ion-icon name="search-outline" slot="start" (click)= "search()"></ion-icon>
        </ion-item>
      </div>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-button fill="clear" routerLink="/ajoutannonce">   ADD NEW   </ion-button>
  <ion-card mode="ios"  *ngFor="let materiel of info ">
    <ion-card-content>
      <div class="item-img">
          <ion-img [src]="materiel.imageMatrInformatique"></ion-img>
      </div>

      <div class="item-info">
        
        <h1> {{materiel.nameMatrInformatique}}</h1>
  
        <p><ion-icon name="pricetags-outline"></ion-icon>
           price :{{materiel.priceMatrInformatique}}DT</p>
       
        <p> <ion-icon name="today-outline"></ion-icon>
          {{materiel.dateMatrInformatique}}</p>
        <p> <ion-icon name="location-outline"></ion-icon>
          {{materiel.annoceMatrInformatique}}</p>
        <p> {{materiel.villeMatrInformatique}}</p>
        <div class="qty-selector"  >
         
          <ion-button fill="clear" href="https://afariat.com/emploi-affaires-et-services">CHECK ANNONCE  </ion-button>
        </div>
        
      </div>
    </ion-card-content>
  </ion-card>

 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">


</ion-infinite-scroll-content>
</ion-infinite-scroll> 

</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach((p) => {
        const shouldShow = p.textContent.toLowerCase().indexOf(query) > -1;
        p.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>