ion-icon {
    color: black;
    font-size: 30px;
    --ionicon-stroke-width: 16px;

  }
  .qty-selector{
    
    border: none;
    color: rgb(133, 37, 37);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  