<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back" size="large">
        <img src="../../assets/back-dark.svg" />
        
      </ion-buttons>
    </ion-buttons>
    <div class="search ion-padding">
      <ion-item lines="none">
        <ion-input placeholder="Search"(ionChange)="getnameEmploi(nameEmploi)" [(ngModel)]="nameEmploi" ></ion-input>
        <ion-icon name="search-outline" slot="start" (click)= "search()"></ion-icon>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">



  <h1 class="title"></h1>
  <ion-card mode="ios"  *ngFor="let job of offre">
    <ion-card-content>
      
      <div class="item-info">
        
        <div class="item-img">
          <ion-img [src]=" job.imageEmploi"></ion-img>
        </div>
  
        <p></p>
        <p><ion-icon name="people-circle-outline"></ion-icon>{{ job.nameEmploi}}</p>
        <p> <ion-icon name="alarm-outline"></ion-icon>{{ job.dateEmploi}}</p>
        <p> <ion-icon name="location-outline"></ion-icon>{{ job.annoceEmploi}}</p>
        <p> <ion-icon name="pin-outline"></ion-icon>{{ job.villeEmploi}}</p>

        

        <div class="qty-selector">
          <ion-button fill="clear"routerLink="/addoffre">
               ADD NEW ANNONCE  </ion-button>
               <ion-button fill="clear" href="https://www.offre-emploi.tn/">CHECK ANNONCE  </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
 </ion-content>