.card{
    display: flex;
  align-items: center;
  height: 300px;
  margin-top: 10%;
}
img {
    border: 1px solid rgba(60, 36, 169, 0.902);
   
    padding: 1px;
    width:110px;
    margin-left: 40%;
    margin-right: auto;
    


  }