
  .profile-img {
    height: 100px;
    width: 100px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyp40iH91sworaT2rR9bCS2URw7YXZ4NDoC-Sn-W14dgSeOx3PiPORM93BpZug7XOwMYA&usqp=CAU');
    background-size: cover;
    top:  absolute;
    left:  absolute;
    border-radius: 50%;
    border: 1px solid rgba(60, 36, 169, 0.902);
    border-radius: 100px;
    padding: 1px;
    width: 100px;
    margin-left: 35%;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
