
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline" ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/folder/home" routerDirection="back" size="large">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card-container" *ngFor="let ListOfUser of user">
    <ion-icon ios="ios-arrow" md="md-arrow"></ion-icon>
    
    <span class="pro" >{{ListOfUser.user_name}}</span>
    <img class="round" src="\assets\user1.jpg" alt="user" />
    <h3>
        {{ListOfUser.email}}
      </h3>
    
    <div class="buttons">
      <button class="primary">
        validate user
      </button>
      <button class="primary ghost">
        Delete 
      </button>
    
    </div>
    <div class="skills">
  
    </div>
     
  
  </div>
  </ion-content>
  
  